[Unit]
Description=Kine (etcd shim)
Documentation=https://github.com/k3s-io/kine
After=network.target
Before=kube-apiserver.service

[Service]
ExecStart=/usr/local/bin/kine
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
